


	<div class="row shop">
		<div class="jumbotron col-md-6">
		  <h1>Explore, Shop,and Share!</h1>
		  <p>We believe every woman should experience an orgasm so with every purchase we will send a free vibrator  and starter kit to a friend of your choice
	     </p>
		 <p> <a class="btn btn-primary btn-lg" href="#" role="button">Shop</a></p>
		</div>

		<div class="col-md-6">
			<img class="shopImg" src="http://static.eharmony.com/dating-advice/wp-content/uploads/images/sharing-secrets.jpg">
		</div>
	</div>

	<div class="row shop_by_profiles">
		<div class="col-md-6">
			<img class="shopImg" src="http://static.eharmony.com/dating-advice/wp-content/uploads/images/sharing-secrets.jpg">
		</div>
		<div class="jumbotron">
		  <h1>A different way to shop</h1>
		  <p>We know reviews arent always helpful, so we wanted to give you a different way to find the best VIBE for you. Which profile do you identify with most?
		</p>
		  <p><a class="btn btn-primary btn-lg" href="#" role="button">Shop by Profile</a></p>
		</div>
	</div>

	<div class="row stories">
		<div class="jumbotron col-md-6">
		  <h1>Encourage Self Exploration</h1>
		  <h3> Only 1/3 of all women can  reach orgasm through intercourse. Clitoral stimulation goes a long way.
		  </h3>
		  <p>We want to know your story. We want to hear how you explore. Share with others what works for you. Tell us, how did you experience your first orgasm? When was the first time you you looked at your vagina? 
		</p>
		  <p><a class="btn btn-primary btn-lg" href="#" role="button">Share your story</a></p>
		</div>
		<div class="col-md-6">
			<img class="shopImg" src="http://static.eharmony.com/dating-advice/wp-content/uploads/images/sharing-secrets.jpg">
		</div>
	</div>

	<div class="row read_more">
		<div class="col-md-6">
			<img class="shopImg" src="http://static.eharmony.com/dating-advice/wp-content/uploads/images/sharing-secrets.jpg">
		</div>
		<div class="jumbotron">
		  <h1>Lets Move Away from the Double Standards</h1>
		  <div class="col-md-6">
		  	<h3> Women like sex just as much as men do</h3>
		  </div>
		  <div class= "col-md-6">
		  	<h3> Women welcome casual sex just as much as men </h3>
		  </div>
		  <p><a class="btn btn-primary btn-lg" href="#" role="button">Read More</a></p>
		</div>
	</div>

	
		
	

<script> </script>

</body>
