<div class="row ">
	<div class="col-md-2">
	</div>
	<div class="col-md-8 show_enter_story">
		<div class="panel panel-primary enter_story ">
			<div class="panel-heading">
				<h3 class="panel-title">Enter Your Story</h3>
			</div>
			<div class="panel-body">
				Panel Content
				<button class="btn btn-primary btn-lg pull-right"> Share your Story </button>
			</div>
		</div>
	</div>
</div>

<div class="row story_list">
	<div class="col-md-2">
	</div>

	<div class="col-md-8 stories">
		<div class="panel panel-default col-md-4">
  			<div class="panel-heading">
    			<h3 class="panel-title">Panel title</h3>
  			</div>
  			<div class="panel-body">
    		Panel content
  			</div>
		</div>
		<div class="panel panel-default col-md-4">
  			<div class="panel-heading">
    			<h3 class="panel-title">Panel title</h3>
  			</div>
  			<div class="panel-body">
    		Panel content
  			</div>
		</div>
		<div class="panel panel-default col-md-4">
  			<div class="panel-heading">
    			<h3 class="panel-title">Panel title</h3>
  			</div>
  			<div class="panel-body">
    		Panel content
  			</div>
		</div>
	</div>	
</div>


