// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.homepage_search{
	padding: 0px 200px;

}

.topNav {
	margin-bottom: 10px;
}

.shop {
	background-color: #8d93e1;
}
.shopImg {
	width: 80%;
	padding-top: 5%;
	margin-bottom: 5%;
	
}

.jumbotron {
	background-color:transparent;
}

.shop_by_profile {

	background-color: #d3ffce;

}

.stories {
	background-color: #fbf896;

}

.read_more{

	background-color: #cccccc;

}




