// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel.panel-default.col-md-4{
	margin: 1%;
	padding: 0;
	width: 31%;
}

.enter_story {
	padding: 0;
}

.stories {
	padding: 0;
	background-color: transparent;
}

.show_enter_story {
	padding: 1%;
}
